<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1200-Portrait-2688h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>1200-Landscape-2688h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>1200-Portrait-1792h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>1200-Landscape-1792h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>1100-Portrait-2436h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>1100-Landscape-2436h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>800-Portrait-736h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>800-Landscape-736h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>800-667h</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>700-Portrait</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
	<key>700-Landscape</key>
	<dict>
		<key>ImageName</key>
		<string></string>
		<key>Orientation</key>
		<string></string>
		<key>ImageSize</key>
		<string></string>
	</dict>
</dict>
</plist>
